@charset 'uft-8';

/************************ 
reset
 ************************/
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable.min.css");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
ul,
ol {
  list-style: none;
}
a {
  text-decoration: none;
  color: inherit;
}

body {
  font-family: "Pretendard Variable", "Poppins", sans-serif;
  word-break: keep-all;
  overflow-x: hidden;
}

:root {
  /* font-size */
  --fontSize-display-1: calc(1.3rem + 5.5vw);
  --fontSize-display-2: calc(1.3rem + 5vw);
  --fontSize-headline-1: calc(2rem + 2.5vw);
  --fontSize-headline-2: calc(1.3rem + 2.4vw);
  --fontSize-title-1: calc(1.6rem + 2vw);
  --fontSize-title-2: calc(1.6rem + 1vw);
  --fontSize-title-3: calc(1.3rem + 1vw);
  --fontSize-title-4: calc(1rem + 1vw);
  --fontSize-body-1: calc(0.7rem + 1vw);
  --fontSize-body-2: 1.5rem;
  --fontSize-body-3: 1.2rem;
  --fontSize-body-4: 1rem;
  --fontSize-label-1: 0.9rem;

  /* color  */
  --dark-01: #242424;
  --gray-01: #868686;
  --gray-02: #b6b6b6;
  --gray-03: #e3e3e3;
  --main-color: #006d77;
  --sub-color: #e87676;
  --back-01: #f8f8f8;

  --pTop-1: 15rem;
  --pTop-2: 10rem;

  --pTop-sub-1: 9rem;
  --pTop-sub-2: 7rem;

  --pBottom-1: 15rem;
  --pBottom-2: 10rem;

  --pBottom-sub-1: 9rem;
  --pBottom-sub-2: 8rem;
  --pBottom-sub-3: 5rem;
}

/************************ 
COMMON
 ************************/
.backImg {
  width: 100%;
  height: 100%;
  position: absolute;
  filter: brightness(50%);
  top: 0;
  left: 0;
}
.mainTxt {
  width: 80%;
  margin: 0 auto;
  text-align: center;
}

.mainTxt h3 {
  color: #006d77;
  font-size: 20px;
  letter-spacing: 1px;
}

.mainTxt h2 {
  color: #232939;
  font-size: var(--fontSize-title-2);
  letter-spacing: 1px;
  margin-bottom: 70px;
}
.txtWrap {
  width: 90%;
  margin: 0 auto;
}
.subTxt {
  margin: 0 auto;
  width: 250px;
  display: flex;
  justify-content: space-between;
  text-align: center;
  margin-top: 30px;
  gap: 4rem;
}
.subTxt p {
  width: 50%;
  font-size: var(--fontSize-body-3);
  cursor: pointer;
}

.subTxt p.active {
  border-bottom: 5px solid #006d77;
  padding-bottom: 0.5rem;
  font-weight: bold;
}

.subTitle {
  color: #232939;
  font-size: var(--fontSize-title-2);
  text-align: center;
  padding-bottom: var(--pBottom-sub-2);
}
.img-cover {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* button */

button {
  font-size: 2.5rem;
  color: var(--main-color);
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: 1px solid var(--main-color);
  background-color: #fff;
  outline: none;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
/* content Box */
