@charset 'uft-8';

/**************************
1600px
*************************/
@media (max-width: 1600px) {
  /* main */

  .zipRight {
    width: 70%;
  }
  .subTitle {
    padding-bottom: 4rem;
  }
  .zipLeft {
    margin: 0 auto;
    width: 50%;
    border: 1px solid red;
    grid-template-columns: 1fr;
    padding-bottom: 3rem;
  }
  .zipLeft ul {
    margin: 0 auto;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;
    width: 40%;
    gap: 1.5rem;
  }
  .zipLeft ul li {
    min-width: 270px;
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
  }
  .zipLeft ul li p {
    margin: 0;
  }
}

/**************************
1440px
*************************/
@media (max-width: 1440px) {
  /* main */
  .visualinner form div:not(:nth-child(4)):not(:nth-child(5))::after {
    display: none;
  }
  .visualinner form div {
    height: 80px;
  }
  .visualinner form {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    justify-content: initial;
  }

  .visualinner form div:nth-child(1) {
    width: 50%;
    border-bottom: 1px solid black;
  }

  .visualinner form div:nth-child(2) {
    border-bottom: 1px solid black;
    width: 50%;
  }

  .visualinner form div:nth-child(3) {
    padding-left: 2rem;
    width: 40%;
  }

  .visualinner form div:nth-child(4) {
    width: 40%;
  }

  .visualinner form div:nth-child(5) {
    width: 20%;
    height: 100%;
    padding: 1.5rem 0;
  }

  /* sub */
  #hotel .commonCon ul,
  #sale .commonCon ul {
    grid-template-columns: 1fr 1fr;
  }

  #eventCon1 .commonCon ul {
    grid-template-columns: 1fr 1fr;
  }
  #eventCon2 .commonCon ul {
    grid-template-columns: 1fr 1fr;
  }
}
/**************************
1366px
*************************/
@media (max-width: 1366px) {
  /* main */
  #hamburger-1 {
    display: block;
  }
  #zipWrap {
    padding-top: var(--pTop-2);
  }
  .rcmBoxTxt h2 {
    font-size: 1.5rem;
  }
  .innerNav {
    display: none;
  }
  .headerWrap {
    display: grid;
    grid-template-columns: 3fr 1fr 40px;
    justify-content: space-between;
  }
  .footer_top .fotoText {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    align-items: center;
    line-height: 1;
    font-size: 1.3rem;
    padding: 2rem 0;
  }
  .footer_top .links {
    justify-self: start;
  }
  .links span {
    font-size: 1.3rem;
  }

  address {
    width: 100%;
    margin-right: 0;
  }
  .fotoText .number {
    margin-bottom: 1rem;
  }
}
/**************************
1024px
*************************/
@media (max-width: 1024px) {
  /* main */
  .snsPhotoWrap {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(4, 1fr);
  }
  .rcmBtn {
    width: 90%;
    z-index: 100;
    top: 40%;
  }
  #zipWrap {
    padding-top: var(--pTop-2);
    padding-bottom: var(--pBottom-2);
  }
  #snsWrap {
    padding-top: var(--pTop-2);
  }
  .subTitle {
    padding-bottom: var(--pBottom-sub-3);
  }
  .zipLeft ul li p {
    font-size: 1.2rem;
  }
  .zipText h2 {
    font-size: 1.5rem;
  }
  .snsPhotoWrap {
    height: 70vh;
  }
  #snsPhotoWrap2 {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(4, 1fr);
  }

  #snsPhotoWrap2 .snsPhoto:nth-child(3) {
    grid-area: 2 / 1 / 3 / 3;
  }
  #advertise .mySwiper3 {
    height: 40vh;
  }
  .rcmImg {
    height: 25vh;
  }
  .footer_down .links {
    margin-bottom: 2rem;
    margin-top: 2rem;
  }
  .footer_down .links span {
    margin-bottom: 1rem;
  }

  /* package */

  #subPackage .visualSearch,
  #subHotel .visualSearch {
    bottom: -5rem;
  }
  .packageWrap .buttons {
    top: 60%;
  }

  .specialText {
    font-size: 1.2rem;
  }

  .specialText h2 {
    font-size: 1.5rem;
  }

  .discountCon ul {
    grid-template-columns: 1fr;
  }
  #theme {
    padding-top: var(--pTop-2);
  }
  /* event */
  #eventCon2 .commonCon ul {
    grid-template-columns: 1fr;
  }

  .eventMain {
    grid-template-columns: 1fr;
    gap: 9rem;
  }
  .rcmImgWrap {
    flex-wrap: wrap;
  }
  #adver .mySwiper3 {
    height: 40vh !important;
  }
  .clickWrap .clickCon ul li p {
    font-size: 1rem;
    left: 2rem;
  }
  .commonCon ul li .percent {
    font-size: 2rem;
  }
  /* hotel */
  #intro {
    padding-top: var(--pTop-1);
  }
  #intro ul {
    width: 80%;
    margin: 0 auto;
    flex-wrap: wrap;
  }
  #intro ul li {
    width: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .rcmLeft {
    width: 100%;
    height: 25vh;
    overflow: visible;
  }
  .rcmBox {
    margin: 4rem auto 0;
    width: 80%;
  }
  .rcmBoxsWrap {
    width: 80%;
  }

  .domestic-img1 {
    width: 20%;
    z-index: 10;
  }
  .domestic-img2 {
    right: 5rem;
    left: initial;
  }
  .overseas-img1 {
    bottom: 4rem;
    right: 4rem;
    width: 25%;
    z-index: 1;
  }
  .overseas-img2 {
    right: 4rem;
    bottom: 11rem;
    width: 8%;
    left: initial;
  }

  /* customer */
  #subCst .search input {
    width: 30%;
  }
  #subCst p {
    font-size: 1.5rem;
  }
  #custom {
    padding-top: var(--pTop-sub-2);
  }
  #custom .icon {
    grid-template-columns: repeat(2, max(30%));
    row-gap: 6rem;
  }
}
/**************************
800px
*************************/
@media (max-width: 800px) {
  .fotoText .info + p {
    margin-top: 18rem;
  }
  .social {
    bottom: 16rem;
    left: 4rem;
    right: initial;
  }
}
/**************************
768px
*************************/
@media (max-width: 768px) {
  /* main */
  .rcmBtn {
    width: 90%;
  }
  .visualinner form div:nth-child(3),
  .visualinner form div:nth-child(4) {
    width: 50%;
  }

  .visualinner form div:nth-child(5) {
    width: 100%;
    height: 100%;
    padding: 1.6rem 0;
  }
  .zipSlide {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }
  .zipBoxWrap {
    gap: 4rem;
  }
  .zipLeft {
    padding-bottom: 0;
  }
  .zipLeft ul {
    grid-template-columns: 1fr;
  }
  .zipLeft ul li {
    width: 200px;
  }
  .snsPhotoWrap {
    gap: 1.5% 2%;
  }
  .footer_top .fotoText {
    width: 90%;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
  }

  .footer_down {
    width: 90%;
  }

  .social {
    left: 2rem;
  }
  .links span {
    margin-bottom: 2rem;
  }
  /* sub */

  /* sub - package */
  #subPackage .visualSearch,
  #subHotel .visualSearch {
    bottom: -8rem;
  }
  #subPackage h2,
  #subHotel h2 {
    top: 12rem;
    left: 7rem;
    font-size: 2.5rem;
  }

  .packageWrap .buttons {
    width: 90%;
  }
  .mySwiper2 {
    transform: translateX(0);
    width: 70%;
    margin: 0 auto;
  }

  .specialImg {
    height: 40vh;
  }

  .discounText h3 {
    font-size: 1.5rem;
  }

  .discounText h3 + p {
    font-size: 1.2rem;
  }
  .discountCon ul li {
    height: 30vh;
  }

  .themeCon li.active {
    width: 80%;
  }
  .verti,
  .themeText {
    left: 1.5rem;
  }

  .headerWrap {
    grid-template-columns: 3fr 40px;
  }
  .headerWrap .subBtn {
    display: none;
  }
  #hotel .commonCon ul,
  #sale .commonCon ul {
    grid-template-columns: 1fr;
  }
  .discountCon ul {
    grid-template-columns: 1fr;
  }

  .clickWrap .clickCon ul {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(5, 1fr); /* 5개의 행을 각각 같은 높이로 설정 */
    gap: 1rem;
  }
  .clickWrap .clickCon ul li {
    height: 200px; /* 높이를 자동으로 조정 */
  }
  .clickWrap .clickCon ul li.big {
    grid-row: auto; /* 크기와 위치 초기화 */
    grid-column: auto; /* 크기와 위치 초기화 */
  }

  /* sub - hotel */
  #intro {
    padding-bottom: var(--pBottom-2);
  }
  .commonCon ul li .percent {
    font-size: 2rem;
  }
  .commonCon p:first-of-type {
    font-size: 1.2rem;
  }
  #intro {
    padding-top: var(--pTop-1);
  }
  #adver {
    padding-bottom: var(--pBottom-2);
  }
  .fotoText .info + p {
    margin-top: 15rem;
  }
  .social {
    bottom: 10rem;
  }
  #clickBest {
    padding-bottom: var(--pBottom-2);
  }
  /* sub - customer */
  #subCst .mainTxt {
    padding-top: 18rem;
  }
  #subCst p {
    font-size: 1.3rem;
  }
  #subCst .search input {
    width: 40%;
  }
  #custom {
    padding-top: 3rem;
  }
  #custom .icon {
    grid-template-columns: repeat(2, max(30%));
  }
  .faqCon .head {
    margin: 0 2rem;
  }
  #faq {
    padding-bottom: var(--pBottom-2);
  }
  .announCon li {
    padding: 2rem;
  }
  .announCon li h3 {
    font-size: 1.2rem;
  }
  .announCon li p:last-child {
    margin-top: 2rem;
  }

  /* sub - reserve */
  #allMem {
    width: 50%;
  }
}
/**************************
500px
*************************/
@media (max-width: 500px) {
  /* main */
  .visualinner form div {
    width: 100% !important;
  }
  .visualinner form div:nth-child(2),
  .visualinner form div:nth-child(4) {
    padding-left: 2rem;
  }

  .visualinner form div:nth-child(3) {
    border-bottom: 1px solid black;
  }
}
/**************************
320px
*************************/
@media (max-width: 320px) {
  .visualinner form div {
    height: 70px;
  }
  .visualinner form div:not(:nth-child(5)) {
    padding-left: 2rem;
    padding-top: 0.5rem;
  }
  .visualinner form div:nth-child(5) {
    height: 70px;
  }
  /* main */
  #recommend {
    padding-top: var(--pTop-2);
  }
  .rcmImgWrap {
    padding-top: var(--pTop-sub-2);
  }
  .rcmLeft h3 {
    font-size: 1.5rem;
  }
  .hiddenNav ul li a {
    font-size: 2rem;
  }

  #hamburger-1 {
    min-width: initial;
    width: 30px;
    height: 30px;
  }
  #hamburger-1 .line:nth-child(2) {
    top: 10px;
  }
  #hamburger-1 .line:nth-child(3) {
    top: 20px;
  }
  .visualSearch {
    bottom: -10rem;
  }
  h1 img {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .rcmBoxTxt h3 {
    font-size: 1.3rem;
  }
  .rcmBoxTxt h4 {
    font-size: 1rem;
  }
  .visualBtn {
    display: none;
  }
  .visualTxt {
    left: 50%;
    transform: translateX(-50%);
    margin: 0;
    text-align: center;
    top: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .visualTxt h2 {
    margin-bottom: 2rem;
    font-size: 3rem;
  }

  @keyframes slideIn {
    from {
      top: 35%;
      opacity: 0;
    }
    to {
      top: 30%;
      opacity: 1;
    }
  }
  .rcmLeft {
    height: 30vh;
  }
  .rcmBtn {
    display: none;
  }
  .rcmImgs {
    display: none;
  }
  .mySwiper1 {
    width: 90%;
  }
  .rcmImg {
    height: 25vh;
  }
  .subTxt {
    gap: 2rem;
  }

  #zipWrap {
    padding-top: 5rem;
  }
  #zipWrap .subTitle {
    width: 80%;
    margin: 0 auto;
  }
  #advertise .current-subcon {
    width: 150px;
    height: 50px;
  }
  .zipText {
    padding: 1rem;
  }
  .zipText h3 {
    font-size: 0.9rem;
  }
  .zipText h2 {
    font-size: 1rem;
  }
  .zipLeft {
    width: 80%;
  }
  .zipLeft ul li {
    min-width: 120px;
  }
  .zipRight {
    width: 100%;
  }
  .zipBar {
    width: 80%;
    margin: 0 auto;
  }
  #advertise .slide-captions .current-title {
    font-size: 1.5rem;
  }
  #advertise .slide-captions .current-subtitle {
    font-size: 1rem;
  }
  .hiddenText {
    display: none;
  }
  .footer_top .fotoText {
    width: 80%;
    padding: 0;
    grid-template-rows: 0.5fr 0.5fr;
  }
  .fotoText .number {
    margin-top: 2rem;
    height: 10vh;
    text-align: center;
  }
  .footer_top .links {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    text-align: center;
    width: 100%;
  }
  .footer_top .links span {
    margin-right: 0;
  }
  .fotoText .number span {
    width: 100%;
    display: block;
    margin-top: 1rem;
  }
  .fotoText .info + p {
    margin-top: 17rem;
    font-size: 1rem;
    text-align: center;
  }
  .info {
    font-size: 1rem;
  }
  .snsPhotoWrap {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }
  #snsPhotoWrap1 .snsPhoto:nth-child(2) {
    display: none;
  }
  .footer_down {
    width: 80%;
  }
  #snsWrap {
    padding-bottom: 8rem;
  }
  .footer_down .links {
    margin-top: 2rem;
    margin-bottom: 1rem;
  }
  .links span {
    font-size: 1rem;
  }
  .social {
    bottom: 13rem;
    left: 50%;
    transform: translateX(-50%);
  }
  .links span:not(:last-child) {
    margin-right: 1rem;
  }
  /* pakage */

  #subPackage .visualSearch,
  #subHotel .visualSearch {
    bottom: -18rem;
  }

  #subPackage h2,
  #subHotel h2 {
    left: 3rem;
    font-size: 2rem;
    top: 13rem;
    width: 70%;
  }
  .packageWrap {
    width: 90%;
    margin: 0 auto;
    padding-top: 5rem;
    padding-bottom: 7rem;
  }
  .mySwiper1 .packImg {
    height: 25vh;
  }
  .txtWrap {
    width: 80%;
    padding-top: 10rem;
  }

  .mainTxt h3 {
    margin-bottom: 1rem;
  }

  #package .buttons {
    display: none;
  }
  #special {
    padding-top: 5rem;
    padding-bottom: 5rem;
  }
  .specialImg {
    height: 30vh;
  }
  .specialText {
    font-size: 1rem;
    left: 0.6rem;
    bottom: -2rem;
  }
  .mySwiper2 {
    width: 80%;
  }
  .specialCon li {
    padding-bottom: 5rem;
  }
  #discount {
    width: 80%;
    padding-top: 5rem;
  }
  .discountCon ul li {
    grid-template-columns: 1fr;
    grid-template-rows: 0.5fr 0.5fr;
    height: 30vh;
  }
  .discountCon ul li .ani1,
  .discountCon ul li .ani2 {
    display: none;
  }
  .discounText h3 {
    margin-top: -2rem;
    font-size: 1.2rem;
  }
  .discounText p {
    font-size: 1rem !important;
  }
  .discountCon ul img {
    width: 60%;
    margin: 0 auto;
  }
  #theme {
    padding-top: 5rem;
    padding-bottom: 5rem;
  }
  .themeWrap {
    height: 40vh;
  }
  .verti,
  .themeText,
  .themeText h2 + p {
    font-size: 1.2rem;
  }
  .themeText h2 {
    font-size: 1.5rem;
  }
  .themeCon li:nth-of-type(3),
  .themeCon li:nth-of-type(4) {
    display: none;
  }

  /* event */

  #subEvent .mainTxt {
    padding-top: var(--pTop-1);
  }
  #eventCon1 .commonCon ul {
    grid-template-columns: 1fr;
  }
  #subEvent {
    padding-bottom: var(--pBottom-2);
  }
  .eventMain {
    grid-template-columns: 1fr;
    gap: 2rem;
  }
  .eventMain li {
    height: 30vh;
  }
  .commonCon h4 {
    font-size: 1.2rem;
  }
  .commonCon h4 + p {
    font-size: 1rem;
  }

  /* sub - hotel */
  .commonCon ul li .percent {
    font-size: 1.2rem;
  }
  .commonBtn {
    display: none;
  }
  .commonTxt {
    flex-wrap: wrap;
  }
  #intro {
    padding-bottom: var(--pBottom-2);
    padding-top: 25rem;
  }
  #intro ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 90%;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    row-gap: 1.5rem;
    column-gap: 0;
  }
  #intro ul li {
    width: initial;
  }
  #intro ul li .text {
    font-size: 1rem;
    margin-top: 1rem;
  }
  #intro ul li .img {
    width: 7rem;
    height: 7em;
  }
  #intro ul li img {
    width: 60%;
  }
  #intro ul li:nth-of-type(4) img {
    width: 50%;
  }
  .commonCon .price {
    font-size: 1.7rem;
  }
  .clickWrap .clickCon ul li p {
    left: 1.5rem;
    font-size: 1rem;
  }
  #adver .slide-captions {
    left: 50%;
    top: 15%;
    transform: translateX(-50%);
    text-align: center;
    width: 90%;
    justify-content: center;
    align-items: center;
  }
  #adver .slide-captions .current-subtitle {
    padding-top: 10px;
    font-size: 1rem;
    word-break: keep-all;
  }
  #adver .slide-captions .current-subcon {
    width: 160px;
  }
  #clickBest {
    width: 80%;
    padding-bottom: 45rem;
  }

  /* customer */
  #subCst .mainTxt {
    padding-top: var(--pTop-1);
  }
  #subCst p {
    font-size: 1.2rem;
  }
  #subCst .search input {
    width: 70%;
  }
  #custom {
    padding-top: 0;
    padding-bottom: var(--pBottom-2);
  }
  #custom .icon {
    grid-template-columns: repeat(2, max(35%));
  }
  .answerWrap {
    margin: 0 1rem 0;
  }
  .answerWrap .answer {
    font-size: 1rem;
  }
  .answerWrap.on {
    margin: 0 1rem 2rem;
  }
  .icon li p {
    font-size: 1.2rem;
  }
  .faqCon .head {
    margin: 0;
  }
  .faqCon .head h3 {
    font-size: 1rem;
    width: 80%;
  }
  .plusIcon {
    width: 20px;
    height: 20px;
  }
  #faq {
    padding-bottom: var(--pBottom-2);
  }
  .announText h3,
  .faqText h3 {
    font-size: 1.8rem;
    margin-bottom: 1rem;
  }
  .announCon {
    grid-template-columns: 1fr;
  }
  .announCon li h3 {
    font-size: 1.2rem;
  }
  .announCon li h3 + p {
    font-size: 1rem;
  }
  .announCon li {
    padding: 2rem;
  }
  .announCon li p:last-child {
    margin-top: 1rem;
  }
  /* sub - reserve */
  #allMem {
    width: 75%;
  }
  .allHead h2 {
    font-size: 1rem;
  }
  .socialIcon img {
    width: 2rem;
  }
  .login input[type="text"],
  .login input[type="password"],
  .nonLogin input[type="text"],
  .loginBtn {
    width: 100%;
  }
  .idCheck {
    padding-left: 3rem;
  }
}
